<!-- In dit bestand staat al de code om de Footer te tonen op elke pagina -->

<footer>

    <div>
        <span>&copy 2020 Antwerpen.be |</span>
        <a href="https://www.antwerpen.be/nl/info/5310f241aaa8a74f6c8b458d/a-stad-uw-privacy-en-hoe-gebruiken"
            target="_blank">Privacy &amp; gebruiksvoorwaarden</a>
    </div>
</footer>