<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>cultruur & erfgoed</title>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"
    integrity="sha256-EErZamuLefUnbMBQbsEqu1USa+btR2oIlCpBJbyD4/g=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />

<!-- routing scripts -->
<script src="/leaflet-routing-machine-3.2.12/dist/leaflet-routing-machine.js"></script>
<script src="lrm-graphhopper.js"></script>
<!-- <link rel="stylesheet" type=text/css href="/public/leaflet-routing-machine-3.2.12/dist/leaflet-routing-machine.css"> -->

<script src="/mapScript.js" defer>
    getJSON_Data();
    getJSON_DataCultuur()
</script>
<link rel="stylesheet" href="/css/mapStyle.css">

<link rel="stylesheet" type=text/css href="/css/style.css">

<link rel="apple-touch-icon" sizes="180x180"
    href="https://cdn.antwerpen.be/core_branding_favicons/citizens/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32"
    href="https://cdn.antwerpen.be/core_branding_favicons/citizens/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16"
    href="https://cdn.antwerpen.be/core_branding_favicons/citizens/favicon-16x16.png">
<link rel="manifest" href="https://cdn.antwerpen.be/core_branding_favicons/citizens/site.webmanifest">
<link rel="mask-icon" href="https://cdn.antwerpen.be/core_branding_favicons/citizens/safari-pinned-tab.svg"
    color="#cf0039">
<meta name="msapplication-TileColor" content="#cf0039">
<meta name="theme-color" content="#cf0039">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://cdn.antwerpen.be/core_branding_scss/3.0.3/main.min.css" rel="stylesheet" type="text/css">