<!DOCTYPE html>
<html lang="nl-be">

<head>
    <%- include('partials/meta') %>
</head>

<body>
    <%- include('partials/header') %>
    <main>
        <!-- Sidenav -->
        <div id="sidenav">
            <!-- <span onclick="openNav()">open</span> -->
            <!-- Sidenav om de lijst van erfgoed and cultuur te tonen -->
            <div id="mySidenav" class="sidenav">
                <form id="filterForm" action="" method="get">
                    <a href="#" onclick="closeNav()" class="close"></a>
                    <label for="Categorieën">
                        <p>Categorieën:</p>
                    </label>
                    <select name="Categorieën">
                        <option value="all">all</option>
                        <option value="Museum">Museum</option>
                        <option value="Archief">Archief</option>
                        <option value="Erfgoedbibliotheek">Erfgoedbibliotheek</option>
                        <option value="Erfgoedvereniging">Erfgoedvereniging</option>
                        <option value="Documentatiecentrum">Documentatiecentrum</option>
                        <option value="Levensbeschouwelijk erfgoed">Levensbeschouwelijk erfgoed</option>
                        <option value="Museumdepot">Museumdepot</option>
                        <option value="Cultuurcentrum">Cultuurcentrum</option>
                    </select>
                    <label for="postcodes">
                        <p> postcodes:</p>
                    </label>
                    <select name="postcodes">
                        <option value="all">all</option>
                        <option value="2000">2000</option>
                        <option value="2020">2020</option>
                        <option value="2030">2030</option>
                        <option value="2040">2040</option>
                        <option value="2050">2050</option>
                        <option value="2060">2060</option>
                        <option value="2018">2018</option>
                        <option value="2100">2100</option>
                        <option value="2180">2180</option>
                        <option value="2610">2610</option>
                        <option value="2650">2650</option>
                    </select>
                    <label for="straatnaam">
                        <p>straatnaam:</p>
                    </label>
                    <input type="text" name="straatnaam">
                    <label for="favorites"> favorieten:</label><input type="checkbox" id="favoritecheck"
                        name="favorites"><br>
                    <input type="submit" value="Filter">
                </form>
                <ul id="listSidenav"></ul>
            </div>
        </div>
        <!-- Map -->
        <div id="map"></div>

        </div>
        <!-- Locatie gebruiker -->
        <button class="location" onclick="getLocation()">Huidige Locatie</button>
        <p id="locatie"></p>




    </main>
    <%- include('partials/footer') %>
</body>

<!--  JSON Data inladen -->
<script src="/mapScript.js" defer></script>


</html>