
input[type=checkbox]
{
  -webkit-appearance:checkbox;
}
.form-box
{
    width: 300px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding:  5px;
    overflow: hidden;
}

.button-box
{
    width: 220px;
    height: 35px auto;
    position: relative;
    
    border-radius: 30px;
}

.toggle-btn
{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    color: black;
    border: 0;
    outline: none;
    position: relative;

}

#buttonID
{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    /* background: linear-gradient(to right, #ff105f, #ffad06); */
    background-color: #e7e7e7; color: black;
    border-radius: 30px;
    transition: .5s;

}
.social-icons
{
    margin: 30px auto;
    text-align: center;
}

.social-icons img
{
    margin: 10x auto;
    text-align: center;
    max-width:30%;
}

.input-group
{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;

}

.input-field
{
    width: 100%;
    padding: 10px 0 ;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-button
{
    width: 85% ;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background-color: #e7e7e7; color: black;
    /* background: linear-gradient(to right, #ff105f, #ffad06); */
    border:0;
    outline:none;
    border-radius: 30px;
}

.check-box
{
    margin: 30px 10px 30px 0;
}

.checkboxSpan
{
    color: #777;
    font-size: 12px;
    bottom: 68px
}

#login
{
    left: 10px;
}

#registreer
{
    left: 450px;
}